.login {
	margin: 5px;
	color: white;
}

.checkbox, input[name=remember] {
	margin: 3px 5px 0px 0px;
	color: white;
}

.padding {
	margin: 5px;
}

.navbar-brand {
	font-style: italic;
}

body {
	background-image: url('../images/sticky.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	color: white;
	margin: 20px 0px;
}
h1.text-shadow{
	font-style: italic;
}
.text-shadow {
	text-shadow: 1px 2px 1px black;

}

@media only screen and (max-width: 425px) {
	h1.text-shadow  {
		font-size: 1.5rem;
	}
	h3.text-shadow {
		font-size: 1.1rem;
	}
	h4.text-shadow {
		font-size: 1rem;
	}

	h2.text-shadow.two {
		display: initial!important;
		font-size: 1.1rem;
	}
	h2.text-shadow.one {
		display: none;
		font-size: 1.3rem;
	}

}

@media only screen and (min-width: 426px) and (max-width: 559px) {
	h2.text-shadow.two {
		display: initial!important;
		font-size: 1.6rem;
	}
	h2.text-shadow.one {
		display: none;
		
	}
}

@media only screen and (min-width: 560px) and (max-width: 990px) {
	h2.text-shadow.two {
		display: initial!important;
		
	}
	h2.text-shadow.one {
		display: none;
		
	}
}